@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body{
	margin-top:0px;
	margin-left:0px;
	background-color:#eaeaea;	
        font-family:Verdana, Arial;
        line-height: 18px;
        font-size: 13px;
        min-width: 1050px;
        
	}

.txtLogin{
	border:0px solid black;
	position:relative;
	left:337px;
        top:172px;
	height:26px;
	width:178px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	}
        
.txtLogin[id="senha"]{
	border:0px solid black;
	position:relative;
	left:337px;
        top:209.5px;
	height:26px;
	width:178px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	}
        
        
.btnLogin{
	position:relative;
	left:382px;	
        top:209px;
        width:87px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
        background-color: #cccccc;
        
        margin-left:15px;
        margin:10px 55px 10px 0;
        font-weight: bold;
        line-height: 1;
        padding: 6px 10px;
        cursor:pointer;
        color: black;
 
        text-align: center;
        text-shadow: 0 -1px 1px darkgrey;
 
        /* Background gradient */
        background: #eaeaea;
        background: -moz-linear-gradient(top, #eaeaea 0%, #7089b3 100%);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#eaeaea));
 
        /* Border style */
        border: 1px solid #000;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;

        /* Box shadow */
        -moz-box-shadow: inset 0 1px 0 0 #AAAAAA;
        -webkit-box-shadow: inset 0 1px 0 0 #AAAAAA;
        box-shadow: inset 0 1px 0 0 #AAAAAA;
 
    }        
.btnLogin:hover {
    background: #cccccc;
    cursor: pointer;
	}
.linkEsqueci{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ff7f00;
	font-weight:bolder;
	font-style:inherit;	
	position:relative;
	left:402px;	
        top:209px;
	}
.linkLaranja{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ff7f00;
	font-weight:bolder;
	font-style:inherit;	
	}        
        
.hiddenMenu{
	display:none;
	cursor:pointer;
        float: left;
	}
.menu{
	cursor:pointer;
        float: left;
        }
        
.divMenu{
        margin-top:31px;
	border:0px;
	width:1022px;
	min-width:1022px;
        max-height: 70px;
        height: 70px;
        padding: 0px 0px 0px 0px;
        }        
th{
    text-align: left;
    
}

#frmLogin label:first-of-type { 
    position: absolute;
    display: block;  
    margin: 141px 0 0 515px;    
    color: #FFFFFF;
    padding: 7px 10px;
    vertical-align:top;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	
    font-family: Verdana; 
    font-size: 96%; 
}

#frmLogin label:last-of-type { 
    position: absolute;
    display: block;  
    margin: 180px 0 0 515px;    
    color: #FFFFFF;
    padding: 7px 10px;
    vertical-align:top;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	
    font-family: Verdana; 
    font-size: 96%; 
}