* { margin: 0; padding: 0; }

h3 { margin-bottom: 15px; font-size: 18px; text-shadow: 2px 2px 2px #ccc; }
	
#contactform {

    width: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow:auto;

    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	

    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    }
    
#createproject {

    width:100%;
    padding-top: 30px;
    background: #f0f0f0;
    overflow:auto;

    height: 250px;
    
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	

    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    }   
    
.select{
    font-family: Arial, Verdana; 
    font-size: 15px; 
    padding: 5px; 
    border: 1px solid #b9bdc1; 
    width: 312px; 
    color: #797979;  
    }
    
.field{margin-bottom:7px;}

#createproject label {
    font-family: Arial, Verdana; 
    text-shadow: 2px 2px 2px #ccc;
    display: block; 
    float: left; 
    font-weight: bold; 
    margin-right:-280px; 
    text-align: right; 
    width: 380px; 
    line-height: 25px; 
    font-size: 15px;
    }
    
   
.lblClass {
    font-family: Arial, Verdana; 
    text-shadow: 2px 2px 2px #ccc;
    display: block; 
    float: left; 
    font-weight: bold; 
    margin-right:-50px; 
    text-align: right; 
    width: 120px; 
    line-height: 25px; 
    font-size: 15px; 
    margin-top:4px;

    }
    
.input{
    font-family: Arial, Verdana; 
    font-size: 15px; 
    padding: 5px; 
    border: 1px solid #b9bdc1; 
    width: 300px; 
    color: #797979;
    }

.input:focus{
    background-color:#E7E8E7;	
    }

textarea {
    height:150px;
    max-height: 150px;
    max-width: 300px;
}

.button[type="submit"]{
    float: left;
    margin:10px 0 10px 140px;
    
    }
    
    
.button{
    font-weight: bold;
    line-height: 1;
    float: left;
    margin:10px 0 10px 25px;
    padding: 6px 10px;
    cursor:pointer;   
    color: #fff;

    text-align: center;
    text-shadow: 0 -1px 1px #64799e;

    /* Background gradient */
    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));

    /* Border style */
    border: 1px solid #5c6f91;  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    /* Box shadow */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;

    }

.button:hover {
    background: #848FB2;
    cursor: pointer;
	}
        
* { }
label { display: block; margin-top: 10px; }
label.error { 
    position: absolute;
    display: block;  
    margin: -30px 0 0 455px;
    color: #FFFFFF;
    padding: 7px 10px;
    background: rgba(255, 0, 0, 0.6);
    vertical-align:top;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	
    font-family: Verdana; 
    font-size: 96%; 
}

.submit { margin-top: 1em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

        