@charset "utf-8";
/* CSS Document */

#projetos{
    background:#f0f0f0;
    border:1px solid #ccc;
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    width:100%;
    height:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:1px;
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    }

#projetos_conteudo{
    padding: 15px;
    border: 2px solid #a1a1a1;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
    margin: 10px 0 0 0 ; 
    text-align:center; 
    width:80%; 
    -moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #888888;
}

#projetos_detalhes{
    background:#f0f0f0;
    border:2px solid #a1a1a1;
    border-radius:25px;
    float: left; 
    border: 1px solid #666666;
    width: 35%;
    height: auto;
    -moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #888888;
    
}

#projetos_detalhes_conteudo{
    border-radius:25px;
    text-align:center; 
    margin-top: 70px; 
    margin-bottom: 100px;
}

#projetos_detalhes_tarefas{
    background:#f0f0f0;
    border:3px solid #a1a1a1;
    border-radius:10px;
    padding: 10px;
    margin-left: 20px; 
    float:left;
    width:60%; 
    height:auto;
}

#projetos_detalhes_colaboradores{
    background:#f0f0f0;
    border:3px solid #a1a1a1;
    border-radius:10px;
    padding: 10px;
    word-wrap: break-word; 
    margin-top: 10px;
    margin-left: 20px; 
    float:left;
    width:60%; 
    height:auto;
}

.divGerente{
    height: auto;
    padding: 5px;
    border:1px solid #a1a1a1;
    border-radius:10px;
    display: block;
    -moz-box-shadow: 10px 10px 5px #ffb706; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #ffb706;   
}


.tooltip{
   position:absolute;
   display:none;
   padding: 10px 30px;
   background:#fafae9;
   color:#000;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border-radius:5px;
}
