@charset "utf-8";
/* CSS Document */

#projetos{
    background:#f0f0f0;
    border:1px solid #ccc;
    width:100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:1px;
    margin-bottom: 10px;
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    }

#projetos_conteudo{
    padding: 15px;
    border-bottom: 2px solid #a1a1a1;
    margin: 10px 0 0 0 ; 
    text-align:center; 
    width:80%; 
    -moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #888888;
}

#projetos_detalhes{
    margin-left: 40px;
    background:#f0f0f0;
    border:2px solid #a1a1a1;
    border-radius:4px;
    float: left; 
    width: 33%;
/*    height: auto;*/
    -moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #888888;
    
}

#projetos_detalhes_conteudo{
    border-radius:4px;
    text-align:center; 
    margin-top: 70px; 
    margin-bottom: 100px;
}

#projetos_detalhes_tarefas{
    background:#f0f0f0;
    border:2px solid #a1a1a1;
    border-radius:4px;
    padding: 10px;
    margin-left: 20px; 
    float:left;
    width:55%; 
/*    height:auto;*/
}

#projetos_detalhes_colaboradores{
    background:#f0f0f0;
    border:2px solid #a1a1a1;
    border-radius:4px;
    padding: 10px;
    word-wrap: break-word; 
    margin-top: 10px;
    margin-left: 20px; 
    float:left;
    width:55%; 
/*    height:auto;*/
}

.divGerente{
    height: auto;
    padding: 5px;
    border:1px solid #a1a1a1;
    border-radius:10px;
    display: block;
    -moz-box-shadow: 10px 10px 5px #ffb706; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #ffb706;   
}

#detalhes{
    float: left;
    background:#f0f0f0;
    border:1px solid #ccc;
    width:100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:1px;
    margin-bottom: 10px;
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}

.tooltip{
   position:absolute;
   display:none;
   padding: 10px 30px;
   background:#fafae9;
   color:#000;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border-radius:5px;
}
