/* 
    Document   : tabela
    Created on : 30/06/2012, 22:57:25
    Author     : Dhielber
    Description:
        Purpose of the stylesheet follows.
*/

.tbl{
  border: 0px solid black;
  border-spacing: 0px;
}

.tbl thead tr{
  font-family: Arial, monospace;
  font-size: 14px;
}

.tbl thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #cccccc;
}

.tbl tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;
  background-color: white;
}

.tbl tr.odd {
  background-color: #eaeaea;
}

.tbl tr td, th{
  border-bottom: 1px solid black;
  padding: 2px;
}
a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ff7f00;
	font-weight:bolder;
	font-style:inherit;	
	}  