@charset "utf-8";
/* CSS Document */

#conteudo_tarefas{
    padding-top: 10px;
    padding-bottom: 30px;
    background:#f0f0f0;
    border:2px solid #a1a1a1;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
    width:100%;
    height:auto;
}

.tarefas{
    padding: 10px;
    border: 2px solid #a1a1a1;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
    margin-top: 20px; 
    text-align:center; 
    width:80%; 
    -moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
    box-shadow: 0px 5px 10px #888888;
}


#perara_tarefa_add_colab{
    padding-top: 30px;
    padding-bottom: 30px;
    background:#f0f0f0;
    border:2px solid #a1a1a1;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
    width:100%;
    height:auto;
    font-size: 15px;
}
