@charset "utf-8";
/* CSS Document */

body{
	margin-top:0px;
	margin-left:0px;
	background-color:#eaeaea;	
	
	}


input[type="text"],[type="password"]{
	border:0px solid black;
	position:relative;
	left:332px;	
	height:26px;
	width:188px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	}
	
input[type="button"]{
	background-color:#d0d0d0;
	position:relative;
	left:382px;	
	height:25px;
	width:87px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	}
a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ff7f00;
	font-weight:bolder;
	font-style:inherit;	
	position:relative;
	left:402px;	
	}



